.height-input-container {
  text-align: center;
  margin: auto;
  max-width: 500px;
  /* padding-top: 100px;  */
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px; /* Remove top margin and keep bottom margin */
  text-align: center;
}

.unit-buttons-box {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;
  max-width: 150px;
  height: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow to make it stand out */
}

.unit-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.unit-button {
  padding: 5px 20px;
  border: 0px solid #ccc;
  background-color: #f0f0f0;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  transition: background-color 0.3s;
}

.unit-button.active {
  background-color: #004d40;
  color: white;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.height-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

.height-input input {
  width: 150px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
  margin-top: 20px; /* Adjust this value to move the text down */
}

.height-input span {
  font-size: 14px;
  color: #888;
  margin-left: auto;
}

.error-message {
  color: red;
  font-size: 12px;
}

.neXt-button {
  padding: 15px 40px;
  background-color: #004d40;
  color: white;
  padding: 15px;
  width: 400px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  position: relative; /* Positioning context for the arrow */
  justify-content: center; /* Center content horiz*/
  margin-top: 30px;
  margin-left: 60px;
}

.neXt-button:hover {
  background-color: #00695c;
}

.arrow-iCon {
  position: absolute; /* Adjust the gap between text and arrow */
  font-size: 2rem;
  right: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
    margin: 0 auto; /* Center heading */
    margin-bottom: 20px;
  }

  .height-input {
    width: 80%; /* Use a percentage width for better responsiveness */
  }

  .neXt-button {
    width: 100%;
    margin: 20px auto; /* Center button */
  }

  .unit-buttons-box {
    max-width: 100%;
  }

  .unit-button {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .height-input-container h1 {
    font-size: 1.25rem; /* Further reduce heading size */
    margin: 0 auto; /* Center heading */
    margin-top: -60px;
  }

  .height-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .input-container {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 10px;
  }

  .height-input input {
    width: 100px; /* Adjust input width */
    font-size: 28px; /* Adjust font size */
  }

  .height-input span {
    font-size: 12px; /* Smaller font size */
  }

  .neXt-button {
    padding: 12px 20px;
    font-size: 1rem;
    width: 90%;
    margin: 20px auto; /* Center button */
  }
}
