.payment-failed-container {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  
  .failed-icon {
    font-size: 100px;
    color: red;
    background-color: #f8d7da;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .payment-failed-container h2 {
    font-size: 35px;
    color: #333;
    margin: 0;
    font-weight: 400;
  }
  
  .payment-failed-container p {
    font-size: 20px;
    color: #666;
    width:20%
  }
  
  .cancel-button {
    background-color: #004d40;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    width: 20%;
    transition: background-color 0.3s;
  }
  
  .cancel-button:hover {
    background-color: #00382F;
  }

  /* Responsive adjustments for screens 468px wide or smaller */
@media (max-width: 468px) {
    .failed-icon {
      font-size: 60px;
      width: 80px;
      height: 80px;
    }
  
    .payment-failed-container h2 {
      font-size: 24px;
    }
  
    .payment-failed-container p {
      font-size: 14px;
    }
  
    .cancel-button {
      font-size: 14px;
      padding: 10px 12px;
      width: 90%;
      max-width: 180px;
    }
  }