.Sleep-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
}

/* Styling the main heading */
.Sleep-content {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: -30px;
  color: #333;
  max-width: 90%; /* You can adjust this width as needed */
  margin: 0 auto; /* Centers the heading */
  word-wrap: break-word; /* Ensures long words break if necessary */
  text-align: center; /* Optional: Centers the text */
  max-width: 400px;
}

/* Styling for the buttons container */
.Sleep-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 15px;
  margin-top: 50px;
}

/* Styling individual buttons */
.Sleep-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 15px 20px;
  font-size: 1.1rem;
  color: #333;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Button hover effect */
.Sleep-item:hover {
  background-color: #eefaf1;
  border-color: #007600;
}

/* Arrow icon inside the button */
.arrow {
  font-size: 1.5rem;
  color: #333;
  transition: transform 0.3s ease;
}

/* For button hover arrow effect */
.Sleep-item:hover .arrow {
  transform: translateX(5px);
}

/* Responsive design for mobile screens */
@media (max-width: 468px) {
  .Sleep-page-container {
    padding: 4rem 1.5rem; /* Adjust padding for mobile */
  }

  .Sleep-list {
    margin-left: 5%;
    margin-right: 5%;
  }

  .Sleep-content {
    font-size: 1.5rem;
    margin-top: -05rem; /* Adjust top margin for mobile */
  }

  .Sleep-item {
    font-size: 1rem;
    padding: 15px 20px;
  }

  .Sleep-item:hover .arrow {
    transform: translateX(5px);
  }
  .arrow {
    font-size: 1.3rem;
    margin-left: 6rem;
  }
}

/* Responsive design for tablet screens */
@media (min-width: 601px) and (max-width: 1024px) {
  .routine-container {
    padding: 40px 15px;
    margin-top: -200px;
  }

  .Sleep-content {
    font-size: 1.75rem;
    margin-top: -200px;
  }

  .Sleep-item {
    font-size: 1.05rem;
    padding: 14px 18px;
  }
}
